@page {
	margin-bottom: 5pt;
	margin-top: 5pt
}

.calibre {
    display: block;
    font-family: Calibri;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    margin: 0 5pt
}
